.pageControl{
    width: 100%;
    // background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

    .currentPage{
        position: relative;
        width: 40px;
        height: 25px;
        background-color: #ffffff;
        border: 1px solid #e7e5e5;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;


        .pageList{
            width: 38px;
            height: 75px;
            position: absolute;
            background-color: #ffffff;
            border: 1px solid rgb(153, 153, 153);
            left: 0;
            // transform: translateX(-50%);
            top:-78px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 5px;
                
            }
            &::-webkit-scrollbar-track {
                background: #d3d3d3;
                border-radius: 120px;
            }
            &::-webkit-scrollbar-thumb { 
                background: #1b08eb;
                width: 4px;
                height: 6px; 
                border-radius: 120px;
            }

            .pageNumber{
                display: flex;
                height: 25px;
                justify-content: center;
                border-bottom: 1px solid #bfbfbf;
                cursor: pointer;
            }

            .pageNumberSelected{
                background-color: #4b6bd2;
                color: white;
                display: flex;
                height: 25px;
                justify-content: center;
                border-bottom: 1px solid #bfbfbf;
                // cursor: pointer;
            }
        }
    }

    .arrow{
        width: 20px;
        height: 25px;
        background-color: #e7e5e5;
    }


    .pageAction{
        padding: 0 10px;
        width: 100px;
        height: 25px;
        background-color: #4841fd;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
        padding-bottom: 2px;
    }

    .pageActionDisabled{
        padding: 0 10px;
        width: 100px;
        height: 25px;
        background-color: #202020;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 5px;
        margin: 10px;
        padding-bottom: 2px;
    }
}